/node_modules
/public/Homestead/
/public/storage
/public/hot
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/settings.json
.idea/*
.DS_Store
storage/app/private/invoices
storage/app/private/cdr_summary
storage/app/private/dd_files
storage/app/private/iban_validation
public/css/classic.css
public/js/app.js
public/mix-manifest.json
deploy.sh
storage/app/json
storage/app/private/rabobank
storage/app/private/cdr
/_ide_helper.php
/config/helpers.php
/config/ide-helper.php
/config/passport.php
/config/tinker.php
/config/trustedproxy.php
